body {
  font-family: serif;
  text-align: center;
}

.quizzes-container {
  width: 400px;
  margin: 50px auto;
}

.quiz-container {
  border-bottom:1px solid black;
  padding-bottom: 20px;

}
.top{
  background-color: #6F9;
}
/*
.btn {
  margin-top: 20px;
  font-family: serif;
  background-color: white;
}
.btn0 {
  margin-top: 20px;
  font-family: serif;
  background-color: white; 
}

.btn2 {
  border-radius: 10px;
  background-color: lightblue;
  padding: 20px;
  text-decoration: none;
  color: white;
  position: relative;
  left: 350px;
  top: 150px;
} */

/*ボタン*/
.button{
  color: #fff;
  font-size: 30px;
  padding: 5px 10 px;
  border-radius: 2px;
  background-color: #16a765;
}
.button:hover{
  opacity:0.8;
  cursor:pointer;
}

.score-container {
  border: 1px solid black;
  height: 50px;
}

.btn-score {
  display: block;
  margin: 20px auto;
  font-family: serif;
  background-color: white;
}

/*レイアウト用ボックスを囲む*/
.container {
  width:960px;
  margin-right:auto;
  margin-left:auto;
}

/*クリアフィクス*/
.clear-fix:after{
  content:"";
  display:block;
  clear:both;
  border-right:1px solid #ccc;
  border-left:1px solid #ccc;
}

nav ul li {
  float:left;
  width:25%;
  box-sizing:border-box;
  text-align:center;
}

nav {
  border-top:2px solid #ccc;
  border-bottom:1px solid #ccc;
}

nav ul li a:hover {
  color: #fff;
  background-color:#16a765;
  border-bottom:1px solid #16a765;
}

nav ul li a {
  display: block;
  padding:15px;
  border-left:1px dotted #d6d6d6;
}

nav ul li:last-chaild{
  border-right:1px dotted #d6d6d6;
}
/*
nav ul .active a {
  border-bottom: 1px solid #ccc;
}

/*メイン画像*/
.main-img{
  /*margin-top:30px;
  margin-bottom:40px;*/
  background-image: url(fodloss.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
  width:px;
}

/*フッター*/
.footer-left{
  float: center;
  width: 300px;
  margin-left: 40px;
}

.copyright{
  text-align: center;
  color:#666;
  font-size: 11px;
  margin: 20px 0;
}

footer {
  border-top:1px solid #ddd;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-logo{
  color:#333;
  font-size:20px;
  font-weight:bold;
  float:center;
}

footer ul li a:hover{
  text-decoration: underline;
}

